root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = tab
tab_width = 4
end_of_line = lf
charset = utf-8
max_line_length = off

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[*.{xml,cff}]
indent_style = space

[*.cmake]
indent_style = space

[CMakeLists.txt]
indent_style = space
