* text=auto eol=lf encoding=utf-8 whitespace=tab-in-indent

.git*                 export-ignore
Cache/                export-ignore
Builds/               export-ignore
CMakeUserPresets.json export-ignore
